<title>New App</title>
<h1>Submit an App!</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@app) do |f| %>
      <%= render 'shared/error_messages' %>

      GRS Ticket: <%= f.text_field :grs_ticket %>

      <!-- <%= f.label :grs_ticket %> -->
      <!-- <%= f.text_field :grs_ticket %> -->

    <div class="control-group">
    	<!-- <label class="control-label"><%= f.label :mobile_platform %></label> -->
      	<div class="controls">                 
        	Mobile Platform: <%= f.select :mobile_platform, options_for_select(['Android','Blackberry','iPad', 'iPhone', 'iTunes', 'Window']) %>
        </div>
		</div>

      Name (this is the App Store name): <%= f.text_field :name %>

      Name2 (this is the device icon name): <%= f.text_field :name2 %>

		<div class="control-group">
    	<label class="control-label"><%= f.label :business_unit %></label>
      	<div class="controls">                 
        	<%= f.select :business_unit, options_for_select(['All','CRDM','Cardiovascular', 'Neuro', 'Spinal', 'Surgical Technologies', 'Diabetes']) %>
        </div>
		</div>
 
         
     <div class="control-group">
    	<label class="control-label"><%= f.label :department_visibility %></label>
      	<div class="controls">                 
        	<%= f.select :department_visibility, options_for_select(['All','CRDM','Cardiovascular', 'Neuro', 'Spinal', 'Surgical Technologies', 'Diabetes']) %>
        </div>
		</div>

     <div class="control-group">
    	<label class="control-label"><%= f.label :department_download %></label>
      	<div class="controls">                 
        	<%= f.select :department_download, options_for_select(['All','CRDM','Cardiovascular', 'Neuro', 'Spinal', 'Surgical Technologies', 'Diabetes']) %>
        </div>
		</div>

	 <div class="control-group">
    	<label class="control-label"><%= f.label :region_download %></label>
      	<div class="controls">                 
        	<%= f.select :region_download, options_for_select(['All','CRDM','Cardiovascular', 'Neuro', 'Spinal', 'Surgical Technologies', 'Diabetes']) %>
        </div>
		</div>

      Release Date (YYYY-MM-DD): <%= f.text_field :release_date %>

      Version Number: <%= f.text_field :version_number %>

      
      <div class="controls">
      	<% @app.development_platform = "Xcode (4 or 4.2)" %>
      	<%= f.label :development_platform %>
      	<%= f.text_field :development_platform %> 

      	<!-- <input class="input-xlarge focused" id="focusedInput" type="text" value="Xcode (4 or 4.2)"> -->
      </div>
      	
     

      <%= f.label :language %>
      <%= f.text_field :language %>

      Special Requirements: <%= f.text_area :special_reqs %>

      OS Requirements: <%= f.text_field :os_reqs %>

      <%= f.label :testers %>
      <%= f.text_area :testers %>

      Vendor Confirmation: <%= f.text_area :vendor_confirmation %>

      Developer: <%= f.text_field :developer_string %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      Version Notes: <%= f.text_area :version_notes %>

      Business Owner: <%= f.text_field :business_owner %>

      Support Contact: <%= f.text_area :support_contact %>

      <%= f.label :source %>
      <%= f.text_area :source %>

      <br>

      <%= f.submit "Submit", class: "btn btn-large btn-primary", :confirm => "Are you sure this information is correct?" %>
    <% end %>
  </div>
</div>